@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/* COLOURS VARIABLES */
:root {
  --yinmn-blue: #3b5074;
  --cornflower-blue: #6b9ae1;
  --platinum: #ede7e9;
  --orange: #ff9300;
  --snow: #fffafa;
}

h1 {
  font-size: clamp(44px, 3vw, 76px);
}

h2 {
  font-size: clamp(24px, 3vw, 36px);
  /*   font-size: clamp(24px, 4vw, 40px) */
}
h3 {
  font-size: clamp(22px, 3vw, 24px);
  /* font-size: clamp(22px, 4vw, 26px); */
}
p,
ul {
  /* font-size: clamp(18px, 1vw, 20px); */

  font-size: clamp(18px, 2vw, 20px);
  /* font-family: FuturaPTExtraBold-Reg, sans-serif; */
}

body {
  /* font-family: FuturaPTExtraBold-Reg, sans-serif; */
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
}

/* html, */
body {
  /* overflow-x: hidden; */
  background-color: var(--yinmn-blue);
  height: 100%;
  /* overflow: hidden; */
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--orange);
}

h2,
h3 {
  color: var(--yinmn-blue);
  padding: 5px 20px;
  /* padding-bottom: 0; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

/* unvisited link */
a:link {
  color: var(--orange);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--orange);
}

/* mouse over link */
a:hover {
  color: var(--snow);
}

/* selected link */
a:active {
  color: var(--snow);
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 10vh;
  /* padding: 5px; */
}

.logo-container {
  display: flex;
  align-items: center;
}

/* HOME */

#home {
  background-image: url("/assets/images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* animation-name: zoomFade;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.5, 0.6, 0.6, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running; */
}

/* #home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/images/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transform: scale(1.2); //remove 
  z-index: -1;
  animation: zoomFade 1.2s cubic-bezier(0.5, 0.6, 0.6, 1) 0s 1 normal none running;
} */

ul {
  list-style-type: none;
}

.show-menu button {
  animation: jumpAnimation 1s infinite; /* 1s duration, infinite repetition */
  background: none;
  color: var(--platinum); /* Optional text color for the button */
  border: none; /* Optional border for the button */
  padding: 10px 20px; /* Optional padding for the button */
  /* border-radius: 5px; */
}

.logo-container:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.nav-item {
  color: var(--platinum);
  font-size: 4rem;
  font-weight: bold;
  line-height: 7rem;

  /* opacity: 0;
    transition: opacity 0.3s ease-in-out; */
}

.nav-item.animation-initial {
  opacity: 1;
  animation: slideInFromLeft 0.5s ease-in-out;
}
.nav-item a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  /* background-image: linear-gradient(to right, var(--orange) 0%, var(--orange) 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s ease; */
}

.nav-item a:hover {
  /* font-size: 4.1rem; */
  /* color: var(--orange); */
  padding-left: 10px;
  /* transition: padding-left 0.1s ease-in; */
}
/* 
.comma {
  color: var(--cornflower-blue);
} */

.nav-item.one.home.animation-initial {
  color: var(--orange);
  cursor: pointer;
}

/* .nav-item.one.home.animation a:hover {
  color: var(--snow);
} */

.nav-item.two,
.nav-item.three {
  transition: color 0.3s ease;
  cursor: pointer;
  animation: zoomFade 1.2s cubic-bezier(0.5, 0.6, 0.6, 1);
}

/* .nav-item.home a,  */
p a {
  background-image: linear-gradient(
    to left,
    var(--orange) 0%,
    var(--orange) 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s ease;
}

/* .nav-item.home a:hover,  */
p a:hover {
  background-size: 100% 100%;
  color: var(--snow); /* Apply the text color change on hover */
  padding: 0 5px;
}
/* NAVIGATION MENU*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  /* align-items: center; */
  transition: 0.5s;
  z-index: 3;
}

.hamburger-navigation {
  display: none;
}

.sticky {
  background: var(--snow);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  padding: 5px;
}

/* nav li {
  color: var(--yinmn-blue);
  font-weight: bold;
  list-style-type: none;
} */

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--orange);
  z-index: 1000;
  transition: width 0.3s ease;
}

.hamburger-navigation a {
  text-decoration: none;
}

.hamburger-navigation a:link {
  color: var(--yinmn-blue);
}

.hamburger-navigation a:visited {
  color: var(--yinmn-blue);
}

.hamburger-navigation a:hover,
.hamburger-navigation a:focus {
  color: var(--platinum);
  border-bottom: 2px solid var(--orange);
  border-top: 2px solid var(--orange);

  /* transition: border-bottom 0.1s ease-in; */
}

.hamburger-navigation a:active {
  color: var(--platinum);
}

.hamburger-navigation .current {
  border-bottom: 2px solid var(--yinmn-blue);
}

.hamburger-navigation li:nth-child(odd) {
  animation: slideInFromLeft 0.5s ease-in-out;
}

.hamburger-navigation li:nth-child(even) {
  animation: slideInFromRight 0.5s ease-in-out;
}

/* HAMBURGER MENU STYLING */

button.menutoggle {
  background: none;
  border: none;
}

.menutoggle {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  cursor: pointer;
  padding: 20px;
  /* animation: fadeIn 3s ease-in-out; */
  animation: slideInFromRight 1.2s cubic-bezier(0.5, 0.6, 0.6, 1);
}

.menutoggle i {
  color: var(--snow);
  font-size: 36px;
  animation: fadeIn 0.3s ease-in-out;
}

.menutoggle .fa-solid.fa-x {
  display: none;
}

.menutoggle.open .fa-solid.fa-bars {
  display: none;
  transition: display 0.5s ease-in;
}

.menutoggle.open .fa-solid.fa-x {
  display: inline;
}

.sticky .menutoggle i,
.sticky .menutoggle.open i {
  color: var(--yinmn-blue);
}

.hamburger-navigation.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--snow);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  animation: fadeIn 0.3s ease-in-out;
}

.hamburger-navigation.open li {
  margin: 10px;
  font-weight: 500;
}

/* .hamburger-navigation.open li:last-child {
  margin-bottom: 0px;
} */

.hamburger-navigation.open a {
  color: var(--yinmn-blue);
  font-size: 18px;
  text-decoration: none;
}

.nav-item.one.projects {
  /* opacity: 1; */
  animation: slideInFromRight 0.5s ease-in-out;
}

.nav-item.two.projects {
  /* opacity: 1; */
  animation: slideInFromLeft 0.5s ease-in-out;
}

section.one.about h1,
section.one.projects-content h1,
section.one.blog-content h1 {
  animation: slideInFromBottom 0.5s ease-in-out;
}

section.one.about p,
section.one.projects-content p,
section.one.blog-content p {
  animation: slideInFromLeft 0.5s ease-in-out;
}

.article-2 h2 {
  text-align: center;
}

section.one.contact {
  animation: fadeIn 1s ease-in-out;
}
.image {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.image.visible {
  opacity: 1;
}

.nav-item.animation {
  /* opacity: 1; */
  animation: slideInFromBottom 0.5s ease-in;
}

.logo {
  /* animation: slideInFromBottomAndFade 1s ease-in-out forwards; */
  /* animation: zoomFade 1.2s cubic-bezier(0.5, 0.6, 0.6, 1); */
  animation: slideInFromLeft 1.2s cubic-bezier(0.5, 0.6, 0.6, 1);
}

.menutoggle:hover i.fa-bars,
.menutoggle:focus i.fa-bars {
  /* animation: rotateIcon 0.3s ease-in-out forwards; */
  animation: rotateIcon 0.3s linear forwards;
}

/* .menutoggle:hover i.fa-x,
.menutoggle:focus i.fa-x {
  animation: rotateIcon 0.3s ease-in-out forwards;
} */

/* .nav-item.two a {
    font-size: 50px;
} */

/* .nav-item.two.animation, */

/* SECTIONS */
section.one {
  min-height: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.three {
  min-height: auto;

  /* min-height: 100%;
    overflow-y: auto; */
  /* background-color: var(--platinum); */
  /* background-color: var(--snow); */
}

section.one h1,
section.one p {
  padding: 0px 10px;
}

section.one p {
  font-size: 24px;
  color: var(--platinum);
}

section.three {
  opacity: 0;
  padding: 15px;
  padding-bottom: 100px;
  /* width: 100vw; */

  transition: opacity 0.7s ease-in;
}

section.three.visible {
  opacity: 1;
}

section.three h2,
h3 {
  color: var(--orange);
}
section.three p {
  color: var(--snow);
  padding: 10px 20px;
}
.section-image {
  /* background-color: var(--cornflower-blue); */
  /* background-color: var(--yinmn-blue); */
  display: flex;
  padding: 20px;

  /* margin: 20px; */
  /* border-radius: 20px; */
}

.section-image img {
  /* width: 100vw; */
  width: 100%;
  /* height: 60vh; */
  /* min-height: 30vh; */
  /* max-height: 80vh; */
  object-fit: cover;
  position: relative;
  border-radius: 30px;
  /* right: 50px; */
}

/* 404 & THANK-YOU*/

section.one.error {
  animation: fadeIn 0.7s ease-in-out;
}

.thank {
  animation: jumpAnimation 1s infinite;
}

section.one.error h1 {
  /* text-transform: uppercase; */
  background-image: linear-gradient(
    -250deg,
    var(--snow) 0%,
    var(--cornflower-blue) 29%,
    var(--yinmn-blue) 67%,
    var(--orange) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  /* color: #fff; */
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  /* display: inline-block; */
  /* font-size: 90px; */
}

/* projects & BLOG*/
.nav-item.projects {
  line-height: 1;
}

.navigation a {
  text-decoration: none;
}

/*********************************** To use for blog items space  */
li.nav-item.one.projects,
li.nav-item.two.projects {
  padding-bottom: 30px;
  padding-top: 30px;
}

.main-content {
  width: 100%;
  max-width: 900px; /* Set a maximum width for the content if desired */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* overflow-x: hidden; */
  /* margin-top: 130px; */
}

.main-content.projects {
  margin-top: 180px;
}
.main-content.blog {
  margin-top: 180px;
}

.navigation {
  padding-left: 20px;
}

.show-menu {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* cursor: pointer; */
  padding: 30px;
}

.main-content.projects a,
.main-content.blog a {
  color: var(--platinum);
}

.main-content.projects a:hover,
.main-content.projects a:focus,
.main-content.blog a:hover,
.main-content.blog a:focus {
  color: var(--orange);
}

.main-content.blog a {
  font-size: 40px;
}
.subtitle {
  /* padding-top: 10px; */
  /* padding-bottom: 30px; */
  padding-left: 4px;
  padding-right: 4px;
  color: var(--orange);
}

/* .image img {
    height: 100%;
    position: absolute;
    top: 20px;
    left: 12px;
} */
/* .image img {
    width: 100%; 
    Make the image take up all available space
    height: 100%; 
    Maintain the image's aspect ratio
} */

/* ABOUT */

.main-content.about,
.main-content.projects-content,
.main-content.blog-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section.two.about img {
  width: 100%;
  position: relative;
  top: 10px;
  border-radius: 60%;
}

/* .main-content.about h2, h3, .main-content.contact h2, h3  {
    color: var(--yinmn-blue);
    padding: 20px;
    padding-bottom: 0;
} */

/* section.one, section.three {
  height: 100vh;
  min-height: 100%;
} */

/* section.three h2, h3, p {
    padding: 0 30px;
} */

/* DIMOS & BUTTERFLY */

section.two.projects-content {
  /* width: 100vw;
height: 96vh;
overflow: hidden; */
  display: flex;
}

.two.projects-content img {
  width: 100vw;
  /* height: 60vh; */
  height: 80vh;
  object-fit: cover;
  position: relative;
  right: 50px;
  /* box-shadow: 10px 10px 5px 5px black; */
}

.section-image {
  position: relative;
  /* width: 100%; */
}

.image {
  display: block;
  /* width: 100%; */
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--cornflower-blue);
}

.section-image:hover .overlay {
  opacity: 1;
}

.text {
  color: var(--snow);
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .two.dimos img {
  width: 100vw;
  position: relative;
  right: 207px;
  top: 20px;
  border-radius: 10px;
} */

.butterfly-ul {
  padding: 10px 20px;
  padding-left: 40px;
  list-style-type: disc;
  color: var(--snow);
}

section.three span {
  color: var(--orange);
}

/* ARTICLE 1 & 2 */

.reference {
  font-size: 1.2rem;
}

.references-ul {
  padding-left: 35px;
  list-style-type: disc;
  color: var(--snow);
  font-size: 1rem;
}

.references-ul li span {
  display: flex;
  color: var(--platinum);
  padding-bottom: 10px;
}

/* .main-content.blog-content section.three:last-child h2 {
  font-size: 1.2rem;
} */

/* CONTACT */

.main-content.contact {
  display: flex;
  flex-direction: column;
}

.main-content.contact section.one h1 {
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
  /* position: relative; */
  /* top: 30px; */
}

.main-content.contact section.three h2 {
  display: flex;
  justify-content: center;
}

.main-content.contact section.three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.one.contact {
  height: 60vh;
}

.socials {
  /* padding-top: 20px; */
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
  z-index: 2;
}
.socials a {
  padding: 5px;
  /* transition: transform 0.2s ease-in-out;  */
  animation: slideInFromBottomAndFade 1s ease-in-out forwards;
  opacity: 0;
}

.socials a:hover,
.social a:focus {
  color: var(--orange);
  position: relative;
  bottom: 10px;
  /* transform: scale(1.2);  */

  /* transform:scale(1.5); */
  /* transform-origin:50% 50%; */
}

.fa-brands {
  color: white;
}

.socials .fa-brands:hover,
.socials .fa-brands:focus {
  color: var(--orange);
}

.socials a:nth-child(1) {
  animation-delay: 0.3s;
}

.socials a:nth-child(2) {
  animation-delay: 0.6s;
}

.socials a:nth-child(3) {
  animation-delay: 0.9s;
}

.socials a:nth-child(4) {
  animation-delay: 1.2s;
}

.socials a:nth-child(5) {
  animation-delay: 1.5s;
}

section.two.contact {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

section.two.contact.visible {
  opacity: 1;
}

section.two.contact::before,
section.two.contact::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

section.two.contact::before {
  background-image: url("/assets/images/mountain.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* transform: translateZ(-1px); */
  z-index: 1;
}

section.two.contact::after {
  background-image: url("/assets/images/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* section.two.contact-content {
  position: relative;
  z-index: 1; 
} */

section.two.contact h2,
section.two.contact p {
  position: relative;
  z-index: 2;
  color: var(--snow);
  text-align: center;
  padding: 20px;
}

section.three.contact {
  opacity: 1;
}

/* section.two.contact {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
  background-image: url('/assets/images/background.webp');
  min-height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative; 
}

section.two.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  pointer-events: none; 
  z-index: 1; 
  background-image: url('/assets/images/mountain.webp');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
  min-height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

section.two.contact h2,
section.two.contact p {
  color: var(--snow);
  padding: 0;
  z-index: 0;
  text-align: center;
}

/* section.two.contact {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden; 
  background-attachment: scroll; 
}


section.two.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  pointer-events: none; 
  z-index: 1; 
  background-image: url('/assets/images/mountain.webp');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
  min-height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}  */

/* section.two.contact h2, section.two.contact p {
  display: flex;
  align-self: center;
  color: var(--snow);
  padding: 0;
  z-index: 0;

} */

/* section.two.contact img {
  width: 50%;
} */

/* header,
section {
	height: 100vh;
} */

/* section.two.about {
	display: flex;
	text-align: center;
	height: 100vh;
	color: #fff;
	justify-content: center;
	align-item: center;
	flex-direction: column;
} */

/* header .content h1,
header .content h2 {
	background-image: linear-gradient( 90deg, black, #000000b0, black);
} */

/* section.two.about {
	font-size: large;
	background-color: rgb(0 115 12 / 71%);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
} */

/* section.two.about {
	padding: 100vw;
} */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  /* max-width: 40%;  */
  padding: 10px;
  z-index: 1;
}

.form label {
  color: var(--snow);
  font-weight: bold;
}

.form i {
  color: var(--orange);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  /* background-color: var(--cornflower-blue); */
}

.submit-btn {
  background-color: var(--snow);
  color: var(--yinmn-blue);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--orange);
  /* color: var(--yinmn-blue); */
  transition: color 0.4s ease-in;
  /* animation: shake 0.5s;
  animation-iteration-count: infinite; */
}

.submit-btn:hover i {
  color: var(--snow);
}

/* KEYFRAMES */

@keyframes zoomFade {
  0% {
    /* Initial styles */
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    /* Final styles */
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Jumping animation using keyframes */
@keyframes jumpAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -10px
    ); /* Adjust this value to control the jump height */
  }
}

@keyframes slideInFromBottomAndFade {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* media query for mobile in landscape mode */
/* @media only screen and (max-width: 812px) and (orientation: landscape) {
  .nav-item {
    font-size: 3rem;
    line-height: 5rem;
  }
} */

/* media query for mobile in landscape mode */
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .nav-item {
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  /* section.three {
    padding: 0 30px;
  } */

  .nav-item.one {
    color: var(--orange);
  }
  .nav-item.home a {
    background-image: linear-gradient(
      to left,
      var(--orange) 0%,
      var(--orange) 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s ease;
  }

  .nav-item.home a:hover {
    background-size: 100% 100%;
    color: var(--snow); /* Apply the text color change on hover */
    padding: 0 5px;
  }

  .form {
    max-width: 80%;
  }

  section.one.contact {
    align-items: center;
  }

  section.three {
    padding: 100px;
    /* border-radius: 10px;
    box-shadow: 5px 5px 0px 5px var(--cornflower-blue); */
  }

  .socials i {
    font-size: 6em;
    transition: font-size 0.4s ease-in;
  }
}

@media screen and (min-width: 1280px) {
  .nav-item.home {
    font-size: 8rem;
    /* line-height: 9.2rem; */
    line-height: 10rem;
  }

  section.one.projects-content h1 {
    font-size: 6rem;
  }

  section.one.projects-content p {
    font-size: 2rem;
  }

  /* section.two.contact h2 {
    font-size: 3rem;

  }
   */
  /* section.three p{
    width: 60vw
  } */

  /* section.three {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  /* .section-image img {
    width: 900px; 
    height: auto;

    object-fit: cover;
  } */

  section.three p {
    width: 700px;
  }
}
