@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/* COLOURS VARIABLES */
:root {
  --yinmn-blue: #3b5074;
  --cornflower-blue: #6b9ae1;
  --platinum: #ede7e9;
  --orange: #ff9300;
  --snow: #FFFAFA;
}

h1 {
  font-size: clamp(44px, 3vw, 76px);
}

h2 {
  font-size: clamp(20px, 3vw, 36px);
}
h3 {
  font-size: clamp(18px, 3vw, 24px);
}
p,
ul {
  font-size: clamp(18px, 1vw, 20px);
    /* font-family: FuturaPTExtraBold-Reg, sans-serif; */
  
}

body {
  /* font-family: FuturaPTExtraBold-Reg, sans-serif; */
  font-family: "Rubik", sans-serif;
  line-height: 1.6;

}

html,
body {
  /* overflow-x: hidden; */
  background-color: var(--yinmn-blue);
  height: 100%;
  /* overflow: hidden; */
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--orange);
}

h2,
h3 {
  color: var(--yinmn-blue);
  padding: 5px 20px;
  /* padding-bottom: 0; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}


/* unvisited link */
a:link {
  color: var(--platinum);
}

/* visited link */
a:visited {
  color: var(--orange);
}

/* mouse over link */
a:hover {
  color: var(--snow);
}

/* selected link */
a:active {
  color: var(--snow);
} 

#home {
    background-image: url('/assets/images/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
  list-style-type: none;
}

/*  */
nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 10vh;
  /* padding: 5px; */
}

.logo-container{
  display: flex;
  align-items: center;
}

/* .logo:hover {
  transform: scale(1.2); 
  transition: transform 0.3s ease-in-out; 
} */

/* Keep the same CSS for .nav-item as before */
.nav-item {
  color: var(--platinum);
  font-size: 4rem;
  font-weight: bold;
  line-height: 7rem;
  /* opacity: 0;
    transition: opacity 0.3s ease-in-out; */
}

/* New class for the initial animation effect */
.nav-item.animation-initial {
  opacity: 1;
  animation: slideInFromLeft 0.5s ease-in-out;
}

/* Navigation */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  /* align-items: center; */
  transition: 0.5s;
}

.hamburger-navigation {
  display: none;
}

.sticky {
  background: var(--snow);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

/* nav li {
  color: var(--yinmn-blue);
  font-weight: bold;
  list-style-type: none;
} */

.hamburger-navigation a {
  text-decoration: none;
}

.hamburger-navigation a:link {
  color: var(--yinmn-blue);
}

.hamburger-navigation a:visited {
  color: var(--yinmn-blue);
}

.hamburger-navigation a:hover,
.hamburger-navigation a:focus {
  color: var(--platinum);
  border-bottom: 2px solid var(--orange);
  border-top: 2px solid var(--orange);

  /* transition: border-bottom 0.1s ease-in; */
  
}

.hamburger-navigation a:active {
  color: var(--platinum);
}

.hamburger-navigation .current {
  border-bottom: 2px solid var(--yinmn-blue);
}

/* HAMBURGER MENU STYLING */
button.menutoggle {
  background: none;
  border: none;
}

.menutoggle {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  cursor: pointer;
  padding: 20px;
  animation: fadeIn 3s ease-in-out;

  
}

.menutoggle i {
  color: var(--snow);
  font-size: 36px;
  animation: fadeIn 0.3s ease-in-out;
  
}

.menutoggle .fa-solid.fa-x {
  display: none;
}

.menutoggle.open .fa-solid.fa-bars {
  display: none;
  transition: display 0.5s ease-in;
}

.menutoggle.open .fa-solid.fa-x {
  display: inline;
}

.sticky .menutoggle i,
.sticky .menutoggle.open i {
  color: var(--yinmn-blue);
}

.hamburger-navigation.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--snow);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.hamburger-navigation.open li {
  margin: 10px;
  font-weight:500;
}

/* .hamburger-navigation.open li:last-child {
  margin-bottom: 0px;
} */

.hamburger-navigation.open a {
  color: var(--yinmn-blue);
  font-size: 18px;
  text-decoration: none;
}

.one {
    opacity: 1;
  animation: slideInFromRight 0.5s ease-in-out;
}

.two {
  opacity: 1;
  animation: slideInFromLeft 0.5s ease-in-out;

}


/* section.two.dimos {
  opacity: 0;
  transition: opacity 1s ease-in;
}

section.two.dimos.visible {
  opacity: 1;
} */

.image {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.image.visible{
  opacity: 1;
}

section.three {
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

section.three.visible{
  opacity: 1;
}

/* shadow                                                                      */
/* section.three {
  box-shadow: inset 5px 5px 10px 0px var(--cornflower-blue),
  5px 5px 10px 0px var(--cornflower-blue);
} */

/* CSS keyframes for slideInFromLeft animation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* New class for the bottom animation effect */
.nav-item.animation {
  opacity: 1;
  animation: slideInFromBottom 0.5s ease-in-out;
}

/* .logo {
  opacity: 1;
  animation: slideInFromLeft 0.5s ease-in-out;
} */

.logo{
  animation: slideInFromBottomAndFade 1s ease-in-out forwards;
}

.socials a {
  animation: slideInFromBottomAndFade 1s ease-in-out forwards;
  opacity: 0;
}

.socials a:nth-child(1) {
  animation-delay: 0.3s;
}

.socials a:nth-child(2) {
  animation-delay: 0.6s;
}

.socials a:nth-child(3) {
  animation-delay: 0.9s;
}

.socials a:nth-child(4) {
  animation-delay: 1.2s;
}

.socials a:nth-child(5) {
  animation-delay: 1.5s;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}



@keyframes slideInFromBottomAndFade {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-item a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.nav-item a:hover {
  /* font-size: 4.1rem; */
  color: var(--orange);
  padding-left: 10px;
  transition: padding-left 0.1s ease-in;
}

.comma {
  color: var(--cornflower-blue);
}

.nav-item.one {
  color: var(--orange);
}

/* .nav-item.two a {
    font-size: 50px;
} */

/* .nav-item.two.animation, */
.nav-item.case-studies {
  line-height: 1;
}


.navigation a {
  text-decoration: none;
}

.main-content {
  width: 100%;
  max-width: 900px; /* Set a maximum width for the content if desired */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* overflow-x: hidden; */
}

.navigation {
  padding-left: 20px;
}

.show-menu {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* cursor: pointer; */
  padding: 30px;
}

/* Jumping animation using keyframes */
@keyframes jumpAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -10px
    ); /* Adjust this value to control the jump height */
  }
}

.show-menu button {
  animation: jumpAnimation 1s infinite; /* 1s duration, infinite repetition */
  background: none;
  color: var(--platinum); /* Optional text color for the button */
  border: none; /* Optional border for the button */
  padding: 10px 20px; /* Optional padding for the button */
  /* border-radius: 5px; */
}

/* .image img {
    height: 100%;
    position: absolute;
    top: 20px;
    left: 12px;
} */
/* .image img {
    width: 100%; 
    Make the image take up all available space
    height: 100%; 
    Maintain the image's aspect ratio
} */

/* ABOUT */

/* .go-back {
  position: fixed;
  top: 20px;
  left: 80%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 20px;
  background: none;
  border: none;
  color: var(--platinum);
  text-decoration: none;
  font-size: 40px;
  z-index: 1;
} */

/* .go-back {
  color: var(--platinum);
  text-decoration: none;
  font-size: 40px;
} */

/* .dots {
  color: var(--cornflower-blue);
  font-size: 32px;
}

.slash {
  color: var(--orange);
  font-size: 32px;
} */

.main-content.about, .main-content.dimos{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* .main-content.about h2, h3, .main-content.contact h2, h3  {
    color: var(--yinmn-blue);
    padding: 20px;
    padding-bottom: 0;
} */

/* section.one, section.three {
  height: 100vh;
  min-height: 100%;
} */
section.one {
    min-height: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section.one.contact {
    height: 60vh;
  }
  
  section.three {
    min-height: auto;
    
    /* min-height: 100%;
      overflow-y: auto; */
    /* background-color: var(--platinum); */
    /* background-color: var(--snow); */
  }
  
section.one h1,
section.one p {
  padding: 0px 10px;
}

section.one p {
  font-size: 24px;
  color: var(--platinum);
}

section.two.about img {
  width: 100%;
  position: relative;
  top: 10px;
  border-radius: 60%;
}

section.three {
  padding: 15px;
  padding-bottom: 100px;
  /* width: 100vw; */
}

section.three h2, h3 {
  color: var(--orange);
}
section.three p {
  color: var(--snow);
  padding: 10px 20px;
}

/* section.three h2, h3, p {
    padding: 0 30px;
} */


/* CASE STUDIES */

.main-content.case-studies a {
  color: var(--platinum);
}

.main-content.case-studies a:hover,
.main-content.case-studies a:focus {
  color: var(--orange);
}

.subtitle {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 4px;
  padding-right: 4px;
  color: var(--orange);
}
/* DIMOS */

section.two.dimos {
  /* width: 100vw;
height: 96vh;
overflow: hidden; */
display: flex;
}

.two.dimos img {
  width: 100vw;
  /* height: 60vh; */
  height: 80vh;
  object-fit: cover;
  position: relative;
  right: 50px;
}

.section-image {
  /* background-color: var(--cornflower-blue); */
  /* background-color: var(--yinmn-blue); */
  display: flex;
  padding: 20px;

  /* margin: 20px; */
  /* border-radius: 20px; */
}


.section-image img{
  /* width: 100vw; */
  width: 100%;
  /* height: 60vh; */
  /* min-height: 30vh; */
  /* max-height: 80vh; */
  object-fit: cover;
  position: relative;
  border-radius: 30px;
  /* right: 50px; */
}
/* .two.dimos img {
  width: 100vw;
  position: relative;
  right: 207px;
  top: 20px;
  border-radius: 10px;
} */

/* CONTACT */

.main-content.contact {
  display: flex;
  flex-direction: column;
}

.main-content.contact section.one h1 {
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
  /* position: relative; */
  /* top: 30px; */
}

.main-content.contact section.three h2 {
    display: flex;
    justify-content: center;
}

.main-content.contact section.three  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials {
  /* padding-top: 20px; */
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
}
.socials a {
  padding: 5px;
  transition: transform 0.2s ease-in-out; /* Add this line for a smooth animation */
}

.socials a:hover,
.social a:focus {
  color: var(--orange);
  position: relative;
  bottom: 10px;
  transform: scale(1.2); /* Add this line to scale the icons on hover */

  /* transform:scale(1.5); */
  /* transform-origin:50% 50%; */
}

.fa-brands {
  color: white;
}

.socials .fa-brands:hover,
.socials .fa-brands:focus {
  color: var(--orange);
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    /* max-width: 40%;  */
    padding: 10px;
}

.form label {
  color: var(--orange);
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submit-btn {
  background-color: var(--orange);
  color: var(--yinmn-blue);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--snow);
  /* color: var(--yinmn-blue); */
  transition: color 0.4s ease-in;
  /* animation: shake 0.5s;
  animation-iteration-count: infinite; */
}

.submit-btn:hover i {
  color: var(--orange);
}

@media screen and (min-width: 1024px) {
  /* section.three {
    padding: 0 30px;
  } */

  .form {
    max-width: 80%; 
  }

  section.one.contact {
    align-items: center;
  }

  section.three {
    padding: 100px;
    /* border-radius: 10px;
    box-shadow: 5px 5px 0px 5px var(--cornflower-blue); */
  }

  .socials i {
    font-size: 100px;
  }

}

@media screen and (min-width: 1280px) {
  
  section.three{
    width: 60vw
  }

}